{% extends 'index.html' %}

{% block head %}
{% endblock %}

{% block body %}

  

  <div class="container">
    <div class="row mt-4">
      <div class="col">
        <h3 style = "text-align: center;"> Income vs Expense </h3>
        <div id='chart_1' style = "height: 500px; " class='chart'></div>
      </div>
      <div class="col">
        <h3 style = "text-align: center;"> Total Amount for Categories </h3>
        <div id='chart_2' style = "height: 500px; " class='chart'></div>
      </div>
    </div>
  </div>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<script type='text/javascript'>
  var graphs = {{pie_chart | safe}};
  Plotly.plot('chart_1',graphs,{});
</script>
  
<script type='text/javascript'>
  var graphs = {{bar_graph | safe}};
  Plotly.plot('chart_2',graphs,{});
</script>

{% endblock %}



